body{
   font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

.navbar-brand {
  color:white;
}


.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

.item img{
  width:auto;
  height:425px;
  max-height: 425px;
}