<html>
  <head>
    <title>KickIt - {{shoe['brand']}} {{shoe['name']}}</title>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <style>
    body{
       font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    }

    .navbar-brand {
      color:white;
    }

    </style>
  </head>
  <body>
    
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#"><u>KickIt</u></a>
        </div>
        <ul class="nav navbar-nav">
          <li><a href="/shoes">Shoe Reviews</a></li>
          <li><a href="/new_review">Add a Review</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/profile/{{session['id']}}"><span class="glyphicon glyphicon-user"></span>{{session['username']}}</a></li>
          <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
	  <div class="jumbotron">
	    <h1>{{shoe['brand']}} {{shoe['name']}}</h1> 
	    <p>Category: {{shoe['category']}}</p> 
	    <img src="{{shoe['pic']}}" width='900' height='auto'>
	  </div>
	  <h2>Reviews</h2>
	  	{% for review in reviews %}
	  	<div class='container' style="border-top:2px solid black; padding-top:10px;">
	  	<p><u>Reviewer:</u> <a href="/profile/{{review['user_id']}}"><span class="glyphicon glyphicon-user"></span>{{review['username']}}</a></p>
	  	<p><u>Size:</u> {{review['size']}}</p>
	  	<p><u>Rating(/5):</u>
	  		{% for x in range(0,review['rating']) %}
                <img src='http://cdn2.hubspot.net/hub/164856/file-2558134859-png/2015/template-assets/splash-page/splash-fire-alarm-safety.png?t=1452623674847&width=40'>
            {% endfor %} </p>
        <p><u>Fit(/10):</u> {{review['fit']}}</p>
        <p><u>Comfort(/10):</u> {{review['comfort']}}</p>
        <p><u>Durability(/10):</u> {{review['durability']}}</p>
        <p><u>Review:</u></p>
        <p>{{review['content']}}</p>


	  	</div>
	  	{% endfor %}
	</div>



  </body>
</html>
